p{
    font-family: backlash;

}
.title{
font-weight: bold;
font-size: 30px;
width: 400px;
line-height: 35px;
margin-bottom: 5px;

}
.stats{
font-size: 15px;
color:gray;
margin-top: 0px;
}
.author{
color:gray;
font-size: 17px;
margin-top: 20px;
}
.description{
color:gray;
font-size: 17px;
margin-top: 20px; 
width: 280px;
line-height: 22px;
}
.chance{
font-size: 14px;
margin-top: 50px;
background-color: red;
color: white;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;  
border-radius: 10px; 
display: inline-block;

margin-left:200px;
}
.meet-link{
cursor: pointer;
}
.meet-link:hover{
text-decoration: underline;
}

.span-ex{
color: red;
margin-left: 10px;
}
.span-ex:hover{
text-decoration: underline;
cursor: pointer;
}